<h1>english polish <br> dictionary</h1>

<%= form_tag "/", :method => 'get' do %>
    <input class='typeahead' id='search' name='search' type='text' value="<%= params[:search] %>" autocomplete="off"  data-provide="typeahead">
    <input type="submit" value="Search" class="btn">
<% end %>

<% if params[:search] and @words.length == 0 then %>
	<p> Sorry, we couldn't find <i><%= params[:search] %></i> </p> 
  <p> Do you want to <br>
    <li class="error_suggestion"> Look for <i><%= params[:search] %></i> on Google Translate: <i><%= params[:search] %> </i>is <%= link_to "english", ("http://translate.google.com/#en/pl/" + params[:search])  %> or <%= link_to "polish", ("http://translate.google.com/#pl/en/" + params[:search])  %>?</li><br>
    <li class="error_suggestion"> Add <i><%= params[:search] %></i> to <%= link_to 'dictionary', new_word_path %>?</li></p>
<% end %>

<% if @words.length > 0 then %>
<table class='table table-striped'>
  <tr>
    <th>English</th>
    <th>Polish</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% end %>

<% @words.each do |word| %>
  <tr>
    <td><%= word.english %></td>
    <td><%= word.polish %></td>
    <td><%= link_to 'Show', word %></td>
    <td><%= link_to 'Edit', edit_word_path(word) %></td>
    <td><%= link_to 'Delete', word, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>




