<p id="notice"><%= notice %></p>

<p>
  <b>English:</b>
  <%= @word.english %>
</p>

<p>
  <b>Polish:</b>
  <%= @word.polish %>
</p>


<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
